.project-square {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: rgba(255, 201, 0, 1);
}

hr {
  width: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  position: fixed;
}


.edit-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}


.edit-button,
.delete-button {
  background-color: yellow;
  border-radius: 10px;
  margin-left: 7px;
  padding: 5px 10px;
  justify-content: center !important;
  border: none;
}
