.sidebar {
  width: 248px;
  padding: 24px;
  overflow: hidden;
  a {
    color: rgba(120, 116, 134, 1);
    font-weight: 500;
    transition: 0.3s all;

    display: grid;
    grid-template-columns: 30px 1fr;

    &:hover {
      background-color: $secondary;
    }
  }
}

